<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>

    <title>Face Recognition Detection</title>
    <style>
        .video-capture {
            max-width: 100%;
            height: 100%;
        }

        .fs-7 {
            font-size: 11px;
        }
    </style>
</head>

<body class="bg-dark text-white">
    <div class="container-lg bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container-fluid">
                <img class="navbar-brand" height="40" src="{{ url_for('static', filename = 'img/logo.png') }}">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                    </ul>
                    <a target="_blank" href="/register" class="btn btn-outline-light" type="submit">Add Data</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-7">
                <img class="mx-auto d-block rounded border border-light" width="95%" src="{{ url_for('video_feed') }}">
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-9 table-responsive border border-light rounded-1"
                        style="background-color: #333541;">
                        <table class="table text-white table-borderless m-auto">
                            <tr>
                                <td class="fs-7">Usage |</td>
                                <td class="fs-7">FPS : <span id="fps">-</span></td>
                                <td class="fs-7">GPU : <span id="cpu">-</span></td>
                                <td class="fs-7">Memory : <span id="memory">-</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2 ms-3 border border-light rounded-1 text-center pt-2 m-0"
                        style="background-color: #333541;">
                        <p class="m-auto fs-7" id="date"></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="text-white fw-bold mt-5" id="greeting">Please show your face</p>
                    <h2 class="fw-bold" id="name-person">-</h2>
                    <!-- <p class="text-white fs-6" id="title-person">Title</p> -->
                </div>
                <div class="col-md-12 table-responsive">
                    <div class="card" style="background-color: #333541;">
                        <div class="card-body" style="background-color: #333541;">
                            <h4 class="border-bottom pb-2">History</h4>
                            <table id="table-history" class="table table-border text-white">


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="faceModal" tabindex="-1" aria-labelledby="faceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                    <div class="modal-body bg-dark">
                        <div id="content-modal" class="row">
                            <div class="col-md-8">
                                <img class="img-fluid"
                                    src="https://cdn.pixabay.com/photo/2018/08/26/23/55/woman-3633737__480.jpg" />
                            </div>
                            <div class="col-md-4 d-flex flex-column justify-content-between">
                                    <h6 class="text mt-5">Selamat Datang</h6>
                                    <h2 class="fw-bold" id="name-person">Bagas Ageng Sandoko</h2>
                                    <p class="fs-7">2022-19-10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>